hr
ul(class='nav nav-pills')
    li(role="presentation")
        a(href='/') Accueil 
    li(role="presentation")
        a(href='page 1') Page 1
    li(role="presentation")
        a(href='page 2') PAge 2
    
